ZKSYNC_ERA_MAINNET_RPC=https://zksync-mainnet.g.alchemy.com/v2/YOUR_KEY
ETH_MAINNET_RPC=https://eth-mainnet.g.alchemy.com/v2/YOUR_KEY
PRIVATE_KEY=your_private_key
PUBLIC_KEY=0xYourPublicKey

SWSTOKEN_ADDRESS=0xF8c34f13DC6C97a31fb73083315D9bF9324661c1
DOLTOKEN_ADDRESS=0x0C313e774E51d7306cecc657638d2a9eD593B3EE
SWSSTAKING_ADDRESS=0xc524BB5cB11D0EAfBf809C6300eF78bF8f94A2c9

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_INTERNAL_CHAT_ID=your_internal_chat_id
TELEGRAM_PUBLIC_CHAT_ID=your_public_chat_id

DISCORD_WEBHOOK=https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN

